<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="screen">
  </head>
  <div id="super-container">
    <header>
      {{> header}}
    </header>
    <body>
      <div class="container">
        {{{body}}}
      </div>
    </body>
    <footer>
      {{> footer}}
    </footer>
  </div>
</html>
