<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="screen">
  </head>
  <div id="container-fluid">
    <header>
      {{> header}}
    </header>
    <body>
      <div>
        {{{body}}}
      </div>
    </body>
    <footer>
      {{> footer}}
    </footer>
  </div>
</html>
